@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #080808;
  color: #fff;
  height: 90px;
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url();
  background-size: cover;
  background-position: center;
}

.logo {
  font-size: 50px;
}

.logo span {
  color: #ff8c00;
}

.container {
  padding: 20px 2%;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  color: #ff8c00;
}

.now {
  margin-top: 20%;
  font-size: 30px;
  text-align: center;
}

.header-text {
  margin-top: 14%;
  font-size: 30px;
  text-align: center;
}

.header-text h1 span {
  font-size: 60px;
  margin-top: 5px;
  color: #ffffff;
}

#about {
  padding: 80px 0;
  color: #ababab;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 85%;
  margin-left: 50px;
  border-radius: 15px;
  transition: transform .2s;
}

.profile:hover {
  transform: scale(1.07);
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 3.7rem;
  font-weight: 600px;
  color: #ff8c00;
}

.tab-titles {
  display: flex;
  margin: 1.2rem 0 2.5rem;
}

.tab-links {
  margin-right: 20px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

@media screen and (max-width: 480px) {
  .tab-links {
    margin-right: 1.2rem;
    font-size: 1.1rem;
  }
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff8c00;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.8s;
}

.tab-links.active-link::after {
  width: 100%;
}

.skill {
  width: 100%;
  max-width: 600px;
  font-size: 18px;
  font-weight: 700;
  color: #f1f1f1;
  margin: 20px 0;
}

.skill-bar {
  height: 14px;
  background: #282828;
  border-radius: 3px;
}

.meter {
  height: 14px;
  background: #ff8c00;
  animation: fillBars 2.5s 1;
}

@keyframes fillBars {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: #ff8c00;
  font-size: 1rem;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

.social-icon {
  transition: color 0.2s;
  font-size: 50px;
  margin: 0px 25px;
  text-decoration: none;
  color: #ffffff;
}

.social-icon:hover {
  color: #ff8c00;
}

.icon {
  transition: color 0.2s;
  font-size: 50px;
  text-decoration: none;
  color: #ffffff;
}

.icon:hover {
  color: #ff8c00;
}

.email {
  transition: color 0.2s;
  font-size: 50px;
  margin: 0px 25px;
  text-decoration: none;
  color: #ffffff;
}

.email:hover {
  color: #ff8c00;
}

.anime {
  transition: color 0.2s;
  font-size: 50px;
  text-decoration: none;
  color: #ffffff;
}

.anime:hover {
  color: #ff8c00;
}

h3 {
  margin: 5px;
}

.resume-pdf {
  display: inline-block;
  padding: 5px 5px;
  background-color: #ff8c00;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  transition: 0.3s ease;
}

.resume-pdf:hover {
  color: aliceblue;
}

/*Error*/
#Project {
  padding: 30px 0;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.services-list div {
  background: #262626;
  padding: 24px;
  height: 400px;
  font-size: 1rem;
  flex-wrap: wrap;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.services-list div img {
  border-radius: 10px;
  width: 270px;
  max-width: 100%;
  height: auto;
}

.services-list div h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 27px;
  margin-bottom: 15px;
}

.services-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 1.15rem;
  margin-top: 20px;
  display: inline-block;
}

.services-list div a:hover {
  opacity: 0.5;
}

.services-list div:hover {
  background: #ff8c00;
  transform: translateY(-10px);
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  margin-top: 50px;
}

.play-outline {
  width: 100%;
  align-items: center;
  color: #ff8c00;
}

@media only screen and (max-width: 1200px) {
  .about-col-1 {
    flex-basis: 100%;
  }

  .about-col-2 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .skill {
    flex-basis: 100%;
  }

  .sub-title {
    font-size: 2rem;
  }

  .p {
    font-size: 2rem;

  }
}

@media only screen and (max-width: 769px) {
  .center h5 span {
    font-size: 2.3rem;
  }
}